<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://downios.tutuapp.net/apps/zb/003/46/49/31/5cbc20321a2ab4e161025ee9.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://photos.tutuapp.com/picture/app_ios/cn/003/46/49/31/5b6a9ac181ed8.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://photos.tutuapp.com/picture/app_ios/cn/003/46/49/31/5b6a9ac181ed8.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.kleientertainment.dontstarvepocket</string>
				<key>bundle-version</key>
				<string>1.10</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>巨人国坐骑</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
